<div class="card">
    <div class="card-header">Đổi mật khẩu:</div>
    <div class="card-body card-block">
        <form action="javascript:changePassword();" id="formChangePassword">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-asterisk"></i>
                    </div>
                    <input type="password" name="password" placeholder="Password hiện tại" class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-asterisk"></i>
                    </div>
                    <input type="password" name="newPassword" placeholder="Password mới" class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-asterisk"></i>
                    </div>
                    <input type="password" name="reNewPassword" placeholder="Nhập lại Password mới" class="form-control" required>
                </div>
            </div>
            <div class="form-actions form-group">
                <button type="submit" class="btn btn-success btn-sm">  Lưu  </button>
            </div>
        </form>
    </div>
</div>
