<div class="card">
    <div class="card-header">Thêm bài cần seeding</div>
    <div class="card-body card-block" id="addPost">
        <form action="javascript:submitFormCheckLink();" id="formCheckLink">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">Link</div>
                    <input type="url" name="link" class="form-control" required>
                </div>
            </div>
            <div class="form-actions form-group">
                <button type="submit" class="btn btn-primary btn-sm"> Tiếp <i class="fa fa-caret-right"></i></button>
            </div>
        </form>
    </div>
</div>
